<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>BioAid &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='Official BioAid documantation' name='subject'>
    <link href='images/favicon.png' rel='shortcut icon'>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='http://www.bioaid.org.uk' title="The biologically inspired hearing aid"><img alt='bioaid' src='images/bioaid.png' width="300"></a>
        <div class='tagline'>The biologically inspired hearing aid
        <p><a href='coming_soon.html'><img src='images/appstore_download_hires.png' style='height:50px' align="right"></a></p></div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>Start Here
            <ol class="toc">
              <li><a href='index.html'>Welcome</a></li>
              <li><a href='info.html'>Information</a></li>
              <li><a href='contact.html'>People & Contact</a></li>              
            </ol>
          </li>
          <li>Developer
            <ol class="toc">            
              <li><a href='coming_soon.html'>Get Involved</a></li>
              <li><a href='coming_soon.html'>Technical Docs</a></li>              
            </ol>
          </li>
          <li>Project Links
              <ol class="toc">
              <p><a href='coming_soon.html'><img src='images/appstore_download.png' style='width:120px'></a></p>
              <p><a href='http://www.facebook.com/bioaidapp' target="_blank"><img src='images/facebook_button.gif' style='width:120px'></a></p>
              <p><a href='https://github.com/audioplastic/BioAid' target="_blank"><img src='images/github.jpeg' style='width:120px'></a></p>
              <div id="clustrmaps-widget"></div><script type="text/javascript">var _clustrmaps = {'url' : 'http://bioaid.org.uk', 'user' : 1061094, 'server' : '4', 'id' : 'clustrmaps-widget', 'version' : 1, 'date' : '2012-11-20', 'lang' : 'en', 'corners' : 'square' };(function (){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'http://www4.clustrmaps.com/counter/map.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);})();</script><noscript><a href="http://www4.clustrmaps.com/user/7b61030e6"><img src="http://www4.clustrmaps.com/stats/maps-no_clusters/bioaid.org.uk-thumb.jpg" alt="Locations of visitors to this page" /></a></noscript>
              </ol>
          </li>
          
   
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>
        <!--{{ content | toc }}-->
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2012 Nick Clark</div>
    </div>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36474760-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
